body {
  font-family: 'Barlow', sans-serif;
}


 .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Pastikan header berada di atas konten lainnya */
  }

  .navmenu .nav-item {
    margin-right: 5px; /* Mengurangi jarak antar menu item */
  }
  
  .navmenu .nav-link {
    padding: 5px 8px; /* Mengurangi padding dalam setiap item */
  }

  .nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav li {
    margin-right: 10px;
  }
  
  .navmenu {
    align-items: center;
  }
  
  .mobile-menu {
    background-color: #2654A1;
  }
  
  @media (max-width: 991px) {
    .nav {
      flex-direction: column;
    }
  
    .nav li {
      margin-bottom: 5px;
      margin-right: 0;
    }
  }

  
.dropdown-menu {
    display: block;
    position: absolute;
}

.dropdown-submenu > .dropdown-menu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}

.dropdown-submenu .dropdown-menu.show {
    display: block;
}

/* Tambahkan ini di file CSS kamu */



/* Styling tombol close (X) di pojok kanan atas */
.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.2s ease; /* Tambahkan transisi untuk efek halus */
}

.modal-close-button:hover {
  transform: scale(1.2); /* Membuat tombol sedikit membesar saat di-hover */
}

dialog {
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 0;
  overflow: hidden;
}

.modal-header {
  background-color: #1e3a8a; /* Biru untuk header */
  color: #ffffff; /* Teks putih */
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
}






  