.top-nav-item .top-nav-link {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
}

/* Nav Dekstop View */
@media (min-width: 1200px) {
  /* .nav .nav-item {
    margin-right: 15px;
  } */
  .top-nav .top-nav-item {
    margin-right: 15px;
  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -8px;
    display: none;
  }

  .dropdown:hover > .dropdown-menu {
    display: block;
    animation: fadeUp 0.5s ease forwards;
  }

  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
    animation: fadeIn 0.5s ease forwards;
  }

  .dropdown-item:hover {
    background-color: #d3e3ff;
  }

  /* .nav-item:hover {
    background-color: #183667;
    border-radius: 12px;
  } */
  .top-nav-item:hover {
    background-color: #183667;
    border-radius: 12px;
  }
}

/* Nav Mobile View */
@media (max-width: 1199px) {
  .navmenu {
    position: absolute;
    left: 0;
    top: 1rem;
    width: 100%;
    /* overflow: auto;
    pointer-events: none;
    opacity: 0; */
    transition: top .4s, opacity .3s;
  }
  .navmenu::-webkit-scrollbar {
    width: 0;
  }
  .top-nav {
    background-color: #2654A1;
    padding-top: 1rem;
    display: block;
    width: 100vh;
  }
  .top-nav
  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu .dropdown-menu {
    top: 0;
    /* left: 100%; */
    margin-top: 0px;
    display: none;
  }

  .dropdown:hover > .dropdown-menu {
    display: block;
    /* animation: fadeUp 0.5s ease forwards; */
  }

  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
    /* animation: fadeIn 0.5s ease forwards; */
  }

  .dropdown-item:hover {
    background-color: #d3e3ff;
  }


  .top-nav-item:hover {
    background-color: #183667;
    border-radius: 8px;
  }
}

@keyframes fadeUp {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(0);
  }
}
