.latarGradasi {
    background: linear-gradient(to bottom, #2654A1, #2654A1, #4989C2, #42ABDC); /* Gradasi warna */
    height: 93vh; /* Atur tinggi latar sesuai kebutuhan, contoh ini 40% tinggi layar */
    width: 100%; /* 100% lebar layar */
    display: flex; /* Agar konten bisa diatur menggunakan flexbox */
    justify-content: center; /* Memposisikan konten horizontal di tengah */
    position: relative;
    overflow: hidden; /* Menghindari elemen keluar dari batas latar */
  }

  .latarGradasi2 {
    background: linear-gradient(to top, #2654A1, #2654A1, #4989C2, #42ABDC); /* Gradasi warna */
    height: 100%; /* Atur tinggi latar sesuai kebutuhan, contoh ini 40% tinggi layar */
    width: 100%; /* 100% lebar layar */
    display: flex; /* Agar konten bisa diatur menggunakan flexbox */
    justify-content: center; /* Memposisikan konten horizontal di tengah */
    position: relative;
    overflow: hidden; /* Menghindari elemen keluar dari batas latar */
  }

  .card {
    padding: 50px; /* Optional padding for spacing */
    background: linear-gradient(180deg, rgba(94, 201, 255, 0.5) 0%, rgba(55, 125, 255, 0.5) 30%);
    border-radius: 20px;
    display: inline-block; /* Ensures it only takes up as much space as needed */
    border-color: #5CC7AF;
}


  .bangunan {
    position: absolute;
    bottom: 0; /* Agar bangunan berada di bagian bawah latar */
    width: 100%; /* Sesuaikan lebar bangunan */
    left: 0; /* Menempatkan gambar agak di tengah */
    z-index: 1;
  }
  
  .orang {
    position: absolute;
    bottom: -30px;;
    left: 48%; /* Sesuaikan posisi horizontal */
    transform: translateX(-50%); /* Agar orang tepat di tengah */
    width: 33vw; /* Ukuran orang yang responsif */
    z-index: 2;
  }
  

  .content {
    position: absolute;
    bottom: 10%; /* Jarak dari bawah */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff; /* Warna teks agar kontras dengan latar belakang */
  }
  
  